.premiumslide {
  background-color: #F8F9F9;
  border-top: 1px #EEE solid;
  border-bottom: 1px #EEE solid;
}

.swiper{
  height: 250px;
  width: 80%;
  margin: auto;
}

.swiper-slide img{
      width: 100%;
}

