<div class="home-details">
    <div class="card mb-3" style="">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/imgSlide/paisajes-naturales-5.jpg" class="card-img" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-12 featured">
                <span>
                  <img src="../../../assets/icons/png/bathroom.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/sleeping_room.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/garage.png" class="" alt="">
                </span>

                <span>
                  <img src="../../../assets/icons/png/diningroom.png" class="" alt="">
                </span>
            </div>
        </div>
    </div>


    <div class="card mb-3" style="">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/imgSlide/paisajes-naturales-5.jpg" class="card-img" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-12 featured">
                <span>
                  <img src="../../../assets/icons/png/bathroom.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/sleeping_room.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/garage.png" class="" alt="">
                </span>

                <span>
                  <img src="../../../assets/icons/png/diningroom.png" class="" alt="">
                </span>
            </div>
        </div>
    </div>


    <div class="card mb-3" style="">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/imgSlide/paisajes-naturales-5.jpg" class="card-img" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-12 featured">
                <span>
                  <img src="../../../assets/icons/png/bathroom.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/sleeping_room.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/garage.png" class="" alt="">
                </span>

                <span>
                  <img src="../../../assets/icons/png/diningroom.png" class="" alt="">
                </span>
            </div>
        </div>
    </div>


    <div class="card mb-3" style="">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/imgSlide/paisajes-naturales-5.jpg" class="card-img" alt="...">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                </div>
            </div>
            <div class="col-md-12 featured">
                <span>
                  <img src="../../../assets/icons/png/bathroom.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/sleeping_room.png" class="" alt="">
                </span>

                <span>
                    <img src="../../../assets/icons/png/garage.png" class="" alt="">
                </span>

                <span>
                  <img src="../../../assets/icons/png/diningroom.png" class="" alt="">
                </span>
            </div>
            <div class="home-listing-price">

            </div>
        </div>
    </div>
</div>