.home-details {
    /*background: #fff;*/
    padding-left: 0px;
}

.home-details .featured {
    background: #F4F6F7;
    margin: 0px;
    padding: 10px 5px;
    border-top: 1px #ccc solid;
}

.featured span {
    background: #fff;
    width: 42px;
    height: 42px;
    padding: 5px;
    border-radius: 3px;
    margin: 0px 5px;
}

.featured span:hover {
    background: #5DADE2;
    transition: background 1s ease-out;
}

.featured span img {
    margin-top: -5px;
    width: 25px;
    height: 25px;
}

.list-group .list-group-item {
  padding: .2rem;
}

.imgSVG {
  fill: #fff;
  color: #58D68D;
}
