<div class="home-details">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/img/Venta-Hermoso-Apartamento-en-Marbella-Juan-Dolio-5.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <h5 class="card-title">Casa amueblada</h5>
                        </div>
                        <div class="col-sm-5">
                            <h4 class="price">
                                <span>RD$</span> 15,000
                            </h4>
                        </div>
                    </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt"></i> Ensanche Naco Nacarando</small></p>
                </div>
            </div>
            <div class="col-md-12 featured row">
                <div class="featured-item">
                    <span>
                      <b>3</b>
                      <img src="../../../assets/icons/svg/bathroom.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/sleeping_room.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/garage.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                    <img src="../../../assets/icons/svg/diningroom.svg" class="" alt="">
                  </span>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/img/apartamento-marbella-juan-dolio-6.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="col-sm-5">
                            <h4 class="price">
                                <span>RD$</span> 15,000
                            </h4>
                        </div>
                    </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt"></i> Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-12 featured row">
                <div class="featured-item">
                    <span>
                      <b>3</b>
                      <img src="../../../assets/icons/svg/bathroom.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/sleeping_room.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/garage.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                    <img src="../../../assets/icons/svg/diningroom.svg" class="" alt="">
                  </span>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/img/apartamento-marbella-juan-dolio-republica-dominicana-1.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="col-sm-5">
                            <h4 class="price">
                                <span>RD$</span> 15,000
                            </h4>
                        </div>
                    </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt"></i> Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-12 featured row">
                <div class="featured-item">
                    <span>
                      <b>3</b>
                      <img src="../../../assets/icons/svg/bathroom.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/sleeping_room.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/garage.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                    <img src="../../../assets/icons/svg/diningroom.svg" class="" alt="">
                  </span>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../../assets/img/DSC04802-1.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="col-sm-5">
                            <h4 class="price">
                                <span>RD$</span> 15,000
                            </h4>
                        </div>
                    </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt"></i> Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-12 featured row">
                <div class="featured-item">
                    <span>
                      <b>3</b>
                      <img src="../../../assets/icons/svg/bathroom.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/sleeping_room.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                      <img src="../../../assets/icons/svg/garage.svg" class="" alt="">
                  </span>
                </div>

                <div class="featured-item">
                    <span>
                    <b>3</b>
                    <img src="../../../assets/icons/svg/diningroom.svg" class="" alt="">
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>
