.home-details {
    /*background: #fff;*/
    padding-left: 0px;
}

.home-details .price {
    color: #FAFAFA;
    background-color: #FF5722;
    padding: 5px;
}

.home-details .price span {
    color: #FAFAFA;
    background-color: #4FC3F7;
    padding: 5px;
}

.home-details .featured {
    background: #F4F6F7;
    margin: 0px;
    padding: 10px 5px;
    border-top: 1px #ccc solid;
}

.featured .featured-item {
    background: #FF5722;
    height: 35px;
    padding: 5px;
    border-radius: 3px;
    margin: 0px 5px;
    color: #FFF;
    font-weight: bold;
}

.featured .featured-item:hover {
    background: #5DADE2;
    transition: background .5s ease-out;
}

.featured span img {
    margin-top: -5px;
    right: 0;
    width: 25px;
    height: 25px;
}

.featured span b {
    margin: 5px;
    padding-right: 5px;
    border-right: 1px #FFF solid;
}

.list-group .list-group-item {
    padding: .2rem;
}
