.navbar {
    background-color: #FF5722;
}

.nav-brand {
    background-color: #4FC3F7;
    padding: 5px;
    margin: 0px;
}

.home-logo {
    width: 50px;
    height: 50px;
}

.nav-avance-search {
    padding: 0;
    margin: 0px;
}
