<div class="container">
    <!--<section>
    <div id="fondo1"></div>
    <div id="fondo2"></div>
    <div id="fondo3"></div>
    <div id="fondo4"></div>
</section>-->


    <section class="formulario p-3">
        <div class="form-row">
            <div class="form-group col-sm-6 col-md-6">
                <input type="tex" class="form-control" id="inputEmail4" placeholder="Qué Estás Buscando?">
            </div>
            <div class="form-group col-sm-4 col-md-4">
                <select class="form-control">
              <option value="1">Santo Domingo</option>
              <option value="2">Santiago</option>
              <option value="3">Barahona</option>
              <option value="4">Samana</option>
              <option value="5">La Romana</option>
              <option value="6">Puerto Plata</option>
              <option value="7">San Francisco</option>
              <option value="8">Dajabon</option>
          </select>
            </div>
            <div class="form-group col-sm-2 col-md-2">
                <button type="button" class="btn btn-info btn-block"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>
    </section>

    <section>
        <ul class="cuadrados">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>
                <!--<img src="./shared/img/realestate.png" width="160" height="160" alt="Real Estate">-->
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>

</div>